using Workerd = import "/workerd/workerd.capnp";

const config :Workerd.Config = (
  services = [
    (
      name = "gateway",
      worker = (
        modules = [(name = "worker.js", esModule = embed "worker.js")],
        compatibilityDate = "2026-09-01",
        bindings = [(name = "UUIDS", text = "__UUIDS__")],
        globalOutbound = "internet"
      )
    ),
    (name = "internet", network = (allow = ["public"]))
  ],
  sockets = [
    (name = "http", address = "127.0.0.1:18080", http = (), service = "gateway")
  ]
);
